@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
html,
body,
a,
span,
p,
* {
  font-family: "Noto Sans KR", sans-serif !important;
}

body,
html {
  margin: 0;
  background-color: white;
  -webkit-overflow-scrolling: touch;
}
ul {
  margin: 0px;
}
a {
  text-decoration: none;
  outline: none;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #f1f3f5;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
input {
  -webkit-appearance: none;
}
Button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  text-align: inherit;
  outline: none;
  background: transparent;
  cursor: pointer;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/* Remove excess padding and border in Firefox 4+ */
Button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
#modal_root {
  bottom: 50px;
  position: fixed;
  min-width: 100vw;
  overflow: auto;
  z-index: 9999;
}
.wrapper {
  background-color: white;
  min-width: 320px;
  max-width: 640px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
.wrapper section {
  flex: 1;
  position: relative;
}
