.footer p {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.02em;

  /* Gray6 */

  color: #868e96;
}
.footer {
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer a {
  color: #3c95ff;
  text-decoration: #3c95ff;
}
