.search_bar:focus {
  outline: none;
}

.contents {
  display: flex;
  flex-direction: column;
  height: 100%;

}
.search{
  min-width: 343px;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  
}
.search_bar {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #f1f3f5;
  padding-left: 16px;
}
.search_bar_icon{
  width: 33px;
  height: 100%;
  background-color: #f1f3f5;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  margin: 0 auto;
}

.logo {
  display: flex;
  margin: 32px 0 48px 0;
}
.logo img {
  margin: auto;
}
.banner {
  margin-top: 34px;
  height: 228px;
  min-width: 343px;
  width: 100%;
  background-color: #f1f3f5;
  border-radius: 10px;
}
.dropdown-header{
  height: 46px;
  color:#3C95FF ;
  font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;
display: flex;
align-items: center;
}

.dropdown-block{
  height: 71px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #E9ECEF;
}
.major-wrapper{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-flow: wrap;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #343A40;
  justify-content: space-between;
}
.major-block{
  width: 109px;
  height: 34px;
  background: #F1F3F5;
border-radius: 4px;
display: flex;
}
.block-right{
  width: 100%;
  text-align: left;
}
.block-right span{
  font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */

letter-spacing: -0.02em;

/* Gray8 */

color: #343A40;

}
.block-right p{
  font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 18px;
/* identical to box height, or 138% */
margin: 3px 0px;

letter-spacing: -0.02em;

/* 회색 글씨 */

color: #777777;
}
.block-left{
  width: 56px;
}
.rank-img{
  object-fit: cover;
  width: 24px;
  height: 24px;
  
}
.plus{
  object-position: 33% 0;
}
.minus{
  object-position: 100% 0;
}
.zero{
  object-position: 66% 0;
}
